In [1]:
a = int(input())
b = int(input())
c = (a+b)
print(c)

20
30
50

In [6]:
Name = input()
Age  = int(input())
print("My Name is:",Name)
print("My Age is:",Age)

siranjeevi
20
My Name is: siranjeevi
My Age is: 20

In [7]:
Name = input()
Age  = input()
Address = input()
print("My Name is:",Name)
print("My Age is:",Age)
print("My Address is:",Address)

siran
20
keelanatham,ariyalur
My Name is: siran
My Age is: 20
My Address is: keelanatham,ariyalur

In [8]:
a=int(input())
b=int(input())
c=int(input())
d=a*b*c
e=a+b+c
f=d/e
print(f)

5
6
7
11.666666666666666

In [ ]:
name

In [9]:
name=input()
score=int(input())
department=input()
print("my name is:",name)
print("my score is:",score/10,"/10")
print("my department is:",department)

siranjeevi
80
computer science
my name is: siranjeevi
my score is: 8.0 /10
my department is: computer science

In [ ]:
if(False):
   print("Yes")
else:
     print("No")

No

In [ ]:
print("win"=="winn")

False

In [ ]:
rcb="lose"
if(rcb=="win"):
  print("Ee sala cup namde")
else:
  print("cup illa")

cup illa

In [ ]:
Meghna=input()
if(Meghna=="Died"):
  print("Surya meets Priya")
else:
  print("Surya weds Meghna")

Meghna
Surya weds Meghna

In [ ]:
mark = int(input())
if(mark>35):
  print("pass")
else:
  print("fail")

 30
fail

In [ ]:
income =int(input("income:"))
if(income>7000):
  print("Not eligible for scholarship")
else:
  print("Eligible for scholarship")

income:5000
Eligible for scholarship

In [ ]:
a=int(input())
if(a%5==0 and a%3==0):
  print("Divisible by 3 and 5")
else:
  print("Not divisible by 3 and 5")

20
Not divisible by 3 and 5

In [ ]:
a=int(input("Enter an number:"))
if(a%2==0):
  print("Even")
else:
  print("odd")

Enter an number:13
odd

In [ ]:
score=int(input("score:"))
if(score<35):
  print("poor student")
elif(score>35 and score<70):
  print("Average")
elif(score>70 and score<100):
  print("Good student")
else:
  print("Invalid")

score:105
Invalid

In [10]:
a=int(input("A:"))
b=int(input("B:"))
operation=input("add/sub/mul/div")
if(operation=="add"):
  print(a+b)
elif(operation=="sub"):
  print(a-b)
elif(operation=="mul"):
  print(a*b)
elif(operation=="div"):
  print(a/b)
else:
  print("invalid operation")

A:10
B:20
add/sub/mul/divmul
200

In [13]:
score = int(input("score percentage:"))
if(score>=70):
  name=input("Enter your name")
  age=input("Enter your age")
  department=input("Enter your department")
  print("you are eligible")
else:
  print("you are not eligible")

score percentage:75
Enter your namesiran
Enter your age23
Enter your departmentCSE
you are eligible

In [ ]:
salary = int(input("salary:"))
age   = int(input("age:"))
if(salary>=20000 or age<=25):
  loan=int(input("loan:"))
  if(loan>50000):
    print("Maximum loan amount is 50000")
  else:
    print("you are eligible for loan")

else:
  print("you are not eligible")

salary:20000
age:22
loan:60000
Maximum loan amount is 50000

In [ ]:
a=int(input("subject 1:"))
b=int(input("subject 2:"))
c=int(input("subject 3:"))
d=int(input("subject 4:"))
e=int(input("subject 5:"))
f=(a+b+c+d+e)/5
if(f<=35):
  print("additional class required")
else:
  print("you are good to go")

subject 1:35
subject 2:25
subject 3:34
subject 4:28
subject 5:20
additional class required